:root{
    --color-background:#f0f0f7;
    --color-primary-lighter:#9870f5;
    --color-primary-light:#916BEA;
    --color-primary:#8257E5;
    --color-primary-dark:#774DD6;
    --color-primary-darker:#6842c2;
    --color-secondary:#04D361;
    --color-secondary-dark:#04BF58;
    --color-title-in-primary:#ffffff;
    --color-text-in-primary:#D4C2FF;
    --color-text-title:#322640;
    --color-text-complement:#9C98A6;
    --color-text-base:#6A6180;
    --color-line-in-white:#E6E6E0;
    --color-input-background:#f8f5fc;
    --color-button-text:#ffffff;
    --color-box-base:#ffffff;
    --color-box-footer:#fafafc;
    --color-samll-info:#c1Bccc;


}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body,
html{
    height: 100vh;
}
body{
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}


body,
input,
button,
textarea{
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    color: var(--color-text-base);
}

#container{
    width: 900vw;
    max-width: 700px;    
  
}
@media (min-width:700px) {
    :root{
        font-size: 62.5%;/*Todo  1rem da pagina e equivalente á 10px*/
    }
}