<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    
    <title>Document</title>

     <link rel="shortcut icon" href="image/favicon.png" type="img/png">
     <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partials/page-landig.css">
  

</head>
<body id="page-landing">

<div id="container">

    <div class="logo-container">
        <img src="image/icon/logo.svg" alt="Proffy">
        <h2>Sua plataforma e estudos online</h2>
    </div>
    <img class="hero-img" src="image/landing.svg" alt="Plataforma de estudos">
    
    <div class="buttons-containers">
        <a class="study" href="/study">
            <img src="image/icon/study.svg" alt="Estudar">
            Estudar
        </a>
        <a class="give-classes" href="/give-classes">
            <img src="image/icon/give-classes.svg" alt="Das aulas">
            Dar aulas
        </a>
    </div>

    <p class="total-connection">
        Total das 200 connexões já realizadas
        <img src="image/icon/purple-heart.svg" alt="Corção roxo">
    </p>
  
</div>


</body>
</html>